@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 768px) {
  .hero_clip_path {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  color: #676767;
  overflow-x: hidden;
}
